* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html 
{
    font-size: 62.5%;
}
body
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container
{
    background-color: blanchedalmond;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    border: 1px;
    width: 60%;
    height: 125px;
    margin: 0 auto;
}
.container h1
{
    font-size: 3.6rem;
    color: black;
}
.imagen
{
    width: 65px;
    height: 65px;
}